@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: #121212; /* Fond sombre */
  color: #e0e0e0; /* Texte clair sur fond sombre */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;

  margin-top: 10%;
}

button {
  padding: 10px 20px;
  background-color: #ffffff62; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: fixed;
  bottom: 20%;

  font-family: "Arvo", serif;
  font-weight: 700;
  /* font-style: italic; */

}

button:hover {
  background-color: #7e7e7e62;
  transform: scale(1.15);
  transition: all 0.3s;
  
}

.citationbox{ /* Class de quotes et d'author*/

  animation: fadeIn 2s ease-in-out;
}
#quotesbox{

  font-family: "Stardos Stencil", system-ui;
  font-weight: 700;
  font-style: normal;
  font-size: 400%;
}

#authorbox{
  
  font-family: "Kanit", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-left: 70%;
  font-size: 200%;
  
}

@keyframes fadeIn{

  0%{
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}